.content-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    mat-icon{
        cursor: pointer;
    }
    .camp1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
        mat-icon{
            font-size: 1rem;
            display: flex;
            align-items: center;
        }
        h5{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 6px;
            position: relative;
            bottom: 1px;
        }
        &:hover{
            background-color: rgb(179, 179, 179);
        }
    }
    .camp2{
        display: flex;
        gap: 10px;
        align-items: center;
    }
}