<div class="content-card">
  <div class="card">
    <div class="campo">
      <h5>Numero</h5>
      <p> {{item.pallet}} </p>
    </div>
    <div class="campo">
      <h5>formato</h5>
      <p>{{item.formato}}</p>
    </div>
    <div class="campo">
      <h5>módulo</h5>
      <p>{{item.modulo}}</p>
    </div>
    <div class="campo">
      <h5>variedad</h5>
      <p>{{item.variedad}}</p>
    </div>
    <div class="campo">
      <h5>cant. de cajas</h5>
      <p>{{item.cantidad}} </p>
    </div>
  </div>
</div>
