/* You can add global styles to this file, and also import other style files */
@import '/src/app/utils/colors.scss';
.icon_size{
    font-size: 20px;
}
.text_size{
    font-size: 0.8rem;
}
.input_size{
    width: 100%;
    font-size: 0.8rem;
}
button{
    width: 100%;
    color: $white;
}
.sesion{
    display: flex;
    gap: 10;
    background: $green;
    color: $white;
    font-size: 1rem;
    // white-space: 1px;
    
}
.enviar{
    display: flex;
    gap: 10;
    background: $violet;
    color: $white;
    font-size: 1rem;
}
.buscar{
    display: flex;
    gap: 10;
    background: $blue;
    color: $white;
    font-size: 1rem;
}
.cancelar{
    display: flex;
    gap: 10;
    background: $red;
    color: $white;
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
